@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;  
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding-top: 20px;
}

span {
  font-size: 70px;
}

code {
  background: #ededed;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

.primary {
  background: -webkit-linear-gradient(#97D9E1, #ffffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-xs-12 {
  width: 100%;
  padding: 0 15px;
}

.input-area {
  margin-bottom: 20px;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

p,label {
  display: block;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

.btn-xs {
  border: none;
  background: #e8e8e8;
  padding: 8px 10px;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

input[type="color"] {
  padding: 8px;
  box-sizing: border-box;
}

.form-group {
  padding: 20px;
}

.logo-2ools {
  cursor: text;
  text-align: center;
  color: #e9e9e9;
  cursor: text;
  padding-left: 20px;
  text-shadow: 1px 1px 1px #07BBBC,
  1px 2px 1px #07BBBC,
  1px 3px 1px #07BBBC,
  1px 4px 1px #07BBBC,
  1px 5px 1px #07BBBC,
  1px 6px 1px #07BBBC,
  1px 7px 1px #07BBBC,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}

/** Buttons **/

.btn-primary,
/** IMG2DataURI **/ .copyButton {

  border: none;
  background: #07BBBC;
  padding: 8px 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.btn-xs:hover, .btn-primary:hover,
/** IMG2DataURI **/ .copyButton:hover {

  opacity: 0.8;
}

/** SVG2DataURI **/

.svg2datauri {
  width: 80%;
  margin: 0 auto;
}

.svg2datauri textarea {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}

/** Url2Player **/

#videoContainer {
  padding-left: 20px;
}

#videoContainer video {
border-radius: 5px;
}

/** HTML2View **/

.html2view {
  height: 100vh;
  overflow: hidden;
}

#editor-container,
#html-container {
    flex: 1;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    resize: both; /* Tambahkan properti resize di sini */
}

.htmlInput {
    width: 50%;
    height: 100%;
    resize: none;
    overflow: auto;
    padding: 50px;
box-sizing: border-box;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 10px;
}

#output {
    width: 100%;
    height: 100%;
    border: none;
}

/** HTML2DataURI **/

.html2datauri {
  width: 80%;
  margin: 0 auto;
}

.html2datauri textarea {
  width: 33%;
  height: 150px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#resultLink {
  width: 100%;
}

/** IMG2DataURI **/

.img2datauri {
padding: 20px;
}

/** Text2ReadMore **/

.text2readmore {
  margin-left: 280px;
}

.text2readmore textarea {
  width: 60%;
  height: 150px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: text;
}

input[type=text] {
  /** Looks like Material Design **/
  font-family: "Lato", sans-serif;
  width: 60%;
  padding: 24px 16px 10px;
  font-size: 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
  transition: 0.2s;
  background-color: #f3f3f3;
  border-radius: 10px 10px 0 0 ;
}

input[type=text]:focus, #iframe {
  border-bottom: 2px solid #07BBBC;
  outline: none;
}

input[type=text]:focus::placeholder{
  color: #07BBBC;
}

/** MediaHTML **/

.media2html {
  width: 80%;
  margin: 0 auto;
}

.media2html textarea {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}

/* also check out the similar https://websemantics.uk/tools/svg-to-background-image-conversion/ which is pretty cool and supplies some context too */